<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ha5fun.seckill.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ha5fun.seckill.pojo.User">
        <result column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="passwowd" property="passwowd" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="deleted" property="deleted"/>
        <result column="slat" property="slat" />
        <result column="head" property="head" />
        <result column="token" property="token" />
        <result column="register_date" property="registerDate" />
        <result column="last_login_date" property="lastLoginDate" />
        <result column="login_count" property="loginCount" />
    </resultMap>

<!--    &lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
<!--    <sql id="Base_Column_List">-->
<!--        id,-->
<!--        nickname, passwowd, slat, head, register_date, last_login_date, login_count-->
<!--    </sql>-->
    <insert id="userRegister" parameterType="cn.ha5fun.seckill.pojo.User"  useGeneratedKeys="true" keyProperty="id">
        insert into t_user(password, deleted, slat, token, register_date,login_count
            <if test="username != null and username != ''">
                ,username
            </if>
            <if test="phone != null and phone != ''">
                ,phone
            </if>
            <if test="email != null and email != ''">
                ,email
            </if>
        )
        values (#{password},#{deleted},#{slat},#{token},#{registerDate},#{loginCount}
            <if test="username != null and username != ''">
                ,#{username}
            </if>
            <if test="phone != null and phone != ''">
                ,#{phone}
            </if>
            <if test="email != null and email != ''">
                ,#{email}
            </if>
        )
    </insert>
    <!--  查询所有用户  -->
    <select id="selAllWithoutPass" resultMap="BaseResultMap" >
        select id,
               nickname,
               deleted,
               slat,
               head,
               register_date,
               last_login_date,
               login_count
        from t_user
    </select>
    
    <select id="loginWithPhoneOrEmail" parameterType="cn.ha5fun.seckill.pojo.User" resultMap="BaseResultMap">
        select id, username, nickname, phone, email, deleted, slat, head, token, register_date,
        last_login_date, login_count
        from
             t_user
        where
        password = #{password}
        <if test="phone != null">
            AND phone = #{phone}
        </if>
        <if test="email">
            AND email = #{email}
        </if>
    </select>

    <select id="selBeforeRegister" parameterType="cn.ha5fun.seckill.pojo.User" resultMap="BaseResultMap">
        select id, username, nickname, phone, email, deleted, slat, head, token, register_date,
        last_login_date, login_count
        from
        t_user
        <where>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
            <if test="email">
                AND email = #{email}
            </if>
        </where>
    </select>
</mapper>
